workflow_working.json
{"updatedAt":"2026-01-07T10:39:28.971Z","createdAt":"2026-01-07T10:39:28.971Z","id":"O2l4ynXxNkoeP0Ri","name":"🎨 Карусели v2 - HTTP Imagen copy","description":null,"active":false,"isArchived":false,"nodes":[{"id":"22020e4e-4b71-41f3-b113-3a5b2f1c3082","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[0,0],"parameters":{"httpMethod":"POST","path":"e6d82053-d6db-49bf-b581-417447472122","options":{}},"webhookId":"e6d82053-d6db-49bf-b581-417447472122"},{"id":"92663b8b-b8b5-4a04-8450-088d7e1aa592","name":"Send Start","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[330,0],"parameters":{"method":"POST","url":"https://api.telegram.org/bot8265353203:AAFTK0IbDcfn9laPc5h6lQ32o4rYZ3iFjq4/sendMessage","sendBody":true,"specifyBody":"json","jsonBody":"={\"chat_id\": {{ $json.chatId }}, \"text\": \"🎨 Генерирую карусель...\\n📝 Копирайтер: ✅\\n📊 Слайдов: {{ $json.totalSlides }}\\n⏳ ~{{ $json.totalSlides * 15 }} сек\"}","options":{}}},{"id":"34d53466-8f99-4803-b127-a9a27dded27d","name":"Prepare Prompt","type":"n8n-nodes-base.code","typeVersion":2,"position":[495,0],"parameters":{"jsCode":"const slides = $('Split Slides').all();\nconst parseData = $('Parse Copywriter').first().json;\nconst results = [];\n\nfor (let i = 0; i < slides.length; i++) {\n  const slide = slides[i].json;\n  \n  const requestBody = {\n    contents: [{\n      parts: [{ text: slide.visualTask }]\n    }],\n    generationConfig: {\n      responseModalities: [\"IMAGE\", \"TEXT\"]\n    }\n  };\n  \n  results.push({\n    json: {\n      chatId: parseData.chatId,\n      topic: parseData.topic,\n      slideId: slide.slideId,\n      template: slide.template,\n      totalSlides: parseData.totalSlides,\n      requestBody\n    }\n  });\n}\n\nreturn results;"}},{"id":"a05811b6-f4ff-4dc6-b4c3-3e34f23a0de0","name":"Gemini Image","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[605,0],"parameters":{"method":"POST","url":"https://generativelanguage.googleapis.com/v1beta/models/gemini-3-pro-image-preview:generateContent?key=AIzaSyCfxRlXWA0HuuaGak6CpD6KieGUZuI9VvY","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify($json.requestBody) }}","options":{"timeout":120000}}},{"id":"8e5e3f0a-e32a-41ed-b772-9ba49ad4c1ee","name":"Extract Image","type":"n8n-nodes-base.code","typeVersion":2,"position":[715,0],"parameters":{"jsCode":"const geminiItems = $('Gemini Image').all();\nconst promptItems = $('Prepare Prompt').all();\nconst results = [];\n\nfor (let i = 0; i < geminiItems.length; i++) {\n  const response = geminiItems[i].json;\n  const prev = promptItems[i].json;\n  \n  let imageBase64 = null;\n  let error = null;\n  \n  try {\n    if (response.candidates && response.candidates[0]) {\n      const parts = response.candidates[0].content.parts;\n      for (const part of parts) {\n        if (part.inlineData && part.inlineData.data) {\n          imageBase64 = part.inlineData.data;\n          break;\n        }\n      }\n    }\n    if (!imageBase64 && response.error) {\n      error = response.error.message;\n    }\n  } catch (e) {\n    error = e.message;\n  }\n  \n  results.push({\n    json: {\n      chatId: prev.chatId,\n      topic: prev.topic,\n      slideId: prev.slideId,\n      template: prev.template,\n      totalSlides: prev.totalSlides,\n      imageBase64,\n      hasImage: !!imageBase64,\n      error: error || (!imageBase64 ? 'No image' : null)\n    }\n  });\n}\n\nreturn results;"}},{"id":"a7524a45-0bf3-4777-b17f-fa730dfa0a4c","name":"Has Image?","type":"n8n-nodes-base.if","typeVersion":2,"position":[825,0],"parameters":{"conditions":{"options":{"version":2},"conditions":[{"leftValue":"={{ $json.hasImage }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}]}}},{"id":"5d1c8230-ce9d-4eb2-a5bc-a19914fd455e","name":"Cloudinary Upload","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[935,-100],"parameters":{"method":"POST","url":"https://api.cloudinary.com/v1_1/ds8ylsl2x/image/upload","sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"name":"file","value":"={{ 'data:image/png;base64,' + $json.imageBase64 }}"},{"name":"upload_preset","value":"carousel_unsigned"},{"name":"folder","value":"user_carousels"}]}}},{"id":"487d8167-be46-4233-b0fc-323203347e80","name":"Send Photo","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1100,-100],"parameters":{"method":"POST","url":"https://api.telegram.org/bot8265353203:AAFTK0IbDcfn9laPc5h6lQ32o4rYZ3iFjq4/sendPhoto","sendBody":true,"specifyBody":"json","jsonBody":"={\"chat_id\": {{ $json.chatId }}, \"photo\": \"{{ $json.photoUrl }}\", \"caption\": \"✅ Слайд {{ $json.slideId }}/{{ $json.totalSlides }}\\n{{ $json.template }}\"}","options":{}}},{"id":"d6845058-f458-406e-99bb-e3a6171cdeda","name":"Send Error","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[935,100],"parameters":{"method":"POST","url":"https://api.telegram.org/bot8265353203:AAFTK0IbDcfn9laPc5h6lQ32o4rYZ3iFjq4/sendMessage","sendBody":true,"specifyBody":"json","jsonBody":"={\"chat_id\": {{ $json.chatId }}, \"text\": \"❌ Ошибка генерации:\\n{{ $json.error || 'Неизвестная ошибка' }}\"}","options":{}}},{"id":"886d6294-dcd1-4e51-94e0-b04d01ce8236","name":"Copywriter","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[110,0],"parameters":{"method":"POST","url":"https://generativelanguage.googleapis.com/v1beta/models/gemini-3-pro-preview:generateContent?key=AIzaSyCfxRlXWA0HuuaGak6CpD6KieGUZuI9VvY","sendBody":true,"specifyBody":"json","jsonBody":"={{ (() => {\nconst body = $json.body || $json;\nconst topic = body.topic || \"Тестовая тема\";\n\nconst systemPrompt = `# АГЕНТ \"ВАСЯ\" v5.1 — INSTAGRAM КАРУСЕЛИ\\n\\n## ТВОЯ ЗАДАЧА\\nИз короткого запроса (1-7 слов) создать JSON карусели на 7-9 слайдов.\\n\\n## ТЕХНИЧЕСКИЕ ТРЕБОВАНИЯ\\nРазмер: 1080 × 1440 px (соотношение 3:4)\\n\\n## ОБЯЗАТЕЛЬНАЯ СТРУКТУРА (7-9 слайдов)\\n| # | Тип | human_mode | Назначение |\\n|---|-----|------------|------------|\\n| 1 | HOOK_PERSON | FACE | Захват внимания |\\n| 2-7 | CONTENT | NONE | Контент без персонажа |\\n| 8 | CTA_PERSON | FACE | Призыв + Код продукта |\\n| 9 | VIRAL_CTA | NONE | \"Отправь партнёру\" |\\n\\nПРАВИЛО: FACE только на слайдах 1 и 8!\\n\\n## ВИЗУАЛЬНЫЙ СТИЛЬ\\n- Фон: Белый #FFFFFF\\n- Стиль: Apple Liquid Glass / Glassmorphism\\n- Акцент: Оранжевый #FF5A1F\\n- Текст: Чёрный #1A1A1A\\n- Качество: Фотореализм, НЕ иллюстрация, 8K\\n\\n## ФОРМАТЫ КОНТЕНТНЫХ СЛАЙДОВ\\n1. Список ошибок — ✗ красные крестики\\n2. Матрица 2×2 — 4 квадранта\\n3. Пошаговая инструкция — 1-2-3-4\\n4. До/После — контраст\\n5. Чек-лист — ✓ галочки\\n6. Цифры/Статистика — большие числа\\n\\n## СТИЛЬ ЗАГОЛОВКОВ (ЖЁЛТАЯ ПРЕССА)\\nПримеры трансформации:\\n- \"Нет заявок\" → \"0 ЗАЯВОК ЗА 30 ДНЕЙ\"\\n- \"Партнёры уходят\" → \"8 ИЗ 10 СБЕЖАЛИ\"\\n\\n## JSON СХЕМА (СТРОГО!)\\n{\\n  \"topic\": \"ЗАГОЛОВОК (жёлтая пресса)\",\\n  \"product\": \"МАГИЯ\",\\n  \"post_text\": \"Текст для Instagram caption...\",\\n  \"slides\": [\\n    {\\n      \"id\": 1,\\n      \"template\": \"HOOK_PERSON\",\\n      \"human_mode\": \"FACE\",\\n      \"visual_task\": \"Instagram carousel slide, 3:4 aspect ratio (1080x1440px). WHITE background #FFFFFF. HEADLINE (TOP LEFT): White paper STICKER tilted 5° with torn edges, bold black text: [HEADLINE]. PERSON: CENTER, chest up, LARGE SCALE 85% width. Outfit: [ОДЕЖДА]. Pose: [ПОЗА]. Expression: shocked, theatrical. BOTTOM: Glass card with text. STYLE: Photorealistic, cinematic lighting, orange #FF5A1F accent. 8K.\",\\n      \"content\": [\"ТЕКСТ 1\", \"ТЕКСТ 2\", \"Листай →\"]\\n    },\\n    {\\n      \"id\": 2,\\n      \"template\": \"CONTENT\",\\n      \"human_mode\": \"NONE\",\\n      \"visual_task\": \"Instagram carousel slide, 3:4 (1080x1440px). WHITE background #FFFFFF. HEADLINE (TOP LEFT): [ЗАГОЛОВОК]. MAIN CONTENT: Glassmorphism cards with [ФОРМАТ]. Colors: Black #1A1A1A, orange #FF5A1F. No person. Clean infographic. 8K.\",\\n      \"content\": [\"Пункт 1\", \"Пункт 2\"]\\n    }\\n  ]\\n}\\n\\n## ШАБЛОН ПРОМПТА ДЛЯ HOOK (слайд 1 с FACE)\\nInstagram carousel slide, 3:4 aspect ratio (1080x1440px).\\nWHITE background #FFFFFF.\\nHEADLINE (TOP LEFT AREA):\\n- White paper STICKER tilted 5° with torn ripped edges, drop shadow\\n- Bold black text: \"[MAIN HEADLINE]\"\\nPERSON:\\n- Position: CENTER of frame\\n- Framing: chest up, LARGE SCALE — 85% of frame width\\n- Outfit: [ОДЕЖДА по теме]\\n- Pose: [ПОЗА по эмоции]\\n- Expression: shocked/confident/frustrated\\nBOTTOM: Glassmorphism card with text\\nSTYLE: Photorealistic, NOT illustration. Cinematic lighting. Orange accent #FF5A1F. 8K.\\n\\n## ШАБЛОН ПРОМПТА ДЛЯ CONTENT (слайды 2-7 без FACE)\\nInstagram carousel slide, 3:4 aspect ratio (1080x1440px).\\nWHITE background #FFFFFF. Premium minimal aesthetic.\\nHEADLINE (TOP LEFT): [ЗАГОЛОВОК СЛАЙДА]\\nMAIN CONTENT (CENTER):\\n- [ФОРМАТ: список/матрица/чеклист]\\n- Glassmorphism cards, soft shadows\\n- Colors: Black #1A1A1A, orange accents #FF5A1F\\nBOTTOM: \"Листай →\"\\nNo person. Clean infographic style. 8K quality.\\n\\n## ШАБЛОН ПРОМПТА ДЛЯ CTA (слайд 8 с FACE)\\nInstagram carousel slide, 3:4 aspect ratio (1080x1440px).\\nWHITE background #FFFFFF.\\nTOP LEFT: Orange gradient banner: \"[CTA ВОПРОС]\"\\nPERSON:\\n- Position: LEFT 40% of frame\\n- Expression: warm, inviting, friendly smile\\n- Gesture: pointing toward CTA card\\nMAIN CTA CARD (CENTER-RIGHT):\\n- Large frosted glass card with glow\\n- Text \"ПИШИ:\" and HUGE orange text \"[КОД]\"\\nPhotorealistic. Warm lighting. 8K.\\n\\n## ШАБЛОН ПРОМПТА ДЛЯ VIRAL_CTA (слайд 9)\\nInstagram carousel slide, 3:4 aspect ratio (1080x1440px).\\nBackground: White to light orange gradient.\\nCENTER: Large glassmorphism card\\n- \"ОТПРАВЬ ЭТО\" (bold black)\\n- \"[КОМУ]\" (orange #FF5A1F)\\nVISUAL: 3D paper airplane, share icons\\nBOTTOM: \"📁 СОХРАНИ\"\\nNo person. Bright, viral aesthetic. 8K.\\n\\n## ПРОДУКТЫ\\n| Код | Продукт | Когда |\\n|-----|---------|-------|\\n| АГЕНТЫ | ТОП-30 Нейроагентов | AI, нейросети |\\n| МАГИЯ | МАГИЯ ПРОДАЖ | Воронки, продажи |\\n| ЛАГЕРЬ | MLM ЛАГЕРЬ | Обучение с нуля |\\n\\nВАЖНО: Возвращай ТОЛЬКО JSON без markdown!`;\n\nconst userPrompt = `Тема: \"${topic}\"\n\nСоздай JSON карусели по этой теме. СТРОГО следуй схеме из инструкций.\nВерни ТОЛЬКО валидный JSON без markdown-обёртки!`;\n\nreturn {\n  contents: [\n    { role: \"user\", parts: [{ text: systemPrompt }] },\n    { role: \"model\", parts: [{ text: \"Понял. Жду тему для создания JSON карусели.\" }] },\n    { role: \"user\", parts: [{ text: userPrompt }] }\n  ],\n  generationConfig: { temperature: 0.8, maxOutputTokens: 8000 }\n};\n})() }}","options":{"timeout":60000}}},{"id":"1727c838-a7c1-4715-877d-59fd5e75e859","name":"Parse Copywriter","type":"n8n-nodes-base.code","typeVersion":2,"position":[220,0],"parameters":{"jsCode":"const webhookData = $('Webhook').item.json;\nconst body = webhookData.body || webhookData;\nconst aiResponse = $json;\n\nlet carousel = {};\ntry {\n  let text = aiResponse.candidates[0].content.parts[0].text;\n  text = text.replace(/```json\\n?/g, '').replace(/```\\n?/g, '').trim();\n  carousel = JSON.parse(text);\n} catch (e) {\n  carousel = {\n    topic: body.topic || \"Тема\",\n    product: \"МАГИЯ\",\n    post_text: \"Тест\",\n    slides: [{\n      id: 1,\n      template: \"HOOK_PERSON\",\n      human_mode: \"FACE\",\n      visual_task: \"Instagram carousel slide, 3:4 aspect ratio. WHITE background. HEADLINE: \" + (body.topic || \"Тема\") + \". PERSON: CENTER, chest up. Photorealistic. 8K.\",\n      content: [\"Тест\", \"Листай →\"]\n    }]\n  };\n}\n\nreturn {\n  json: {\n    chatId: body.chatId,\n    topic: carousel.topic || body.topic,\n    product: carousel.product,\n    post_text: carousel.post_text,\n    slides: carousel.slides || [],\n    totalSlides: (carousel.slides || []).length,\n    copywriterSuccess: true\n  }\n};"}},{"id":"1cd53c99-d2c7-4095-853b-f46c3da04174","name":"Split Slides","type":"n8n-nodes-base.code","typeVersion":2,"position":[385,0],"parameters":{"jsCode":"const data = $('Parse Copywriter').first().json;\n\nreturn data.slides.map((slide) => ({\n  json: {\n    slideId: slide.id,\n    template: slide.template,\n    humanMode: slide.human_mode,\n    visualTask: slide.visual_task,\n    content: slide.content,\n    totalSlides: data.totalSlides,\n    chatId: data.chatId,\n    topic: data.topic\n  }\n}));"}},{"id":"90f3fedc-c3eb-4c41-b16a-2e861e80de2d","name":"Collect URLs","type":"n8n-nodes-base.code","typeVersion":2,"position":[990,-100],"parameters":{"jsCode":"const cloudinaryItems = $('Cloudinary Upload').all();\nconst extractItems = $('Extract Image').all();\nconst results = [];\n\nfor (let i = 0; i < cloudinaryItems.length; i++) {\n  const cloudinary = cloudinaryItems[i].json;\n  const extract = extractItems[i].json;\n  \n  results.push({\n    json: {\n      chatId: extract.chatId,\n      topic: extract.topic,\n      slideId: extract.slideId,\n      template: extract.template,\n      totalSlides: extract.totalSlides,\n      photoUrl: cloudinary.secure_url\n    }\n  });\n}\n\nreturn results;"}}],"connections":{"Webhook":{"main":[[{"node":"Copywriter","type":"main","index":0}]]},"Copywriter":{"main":[[{"node":"Parse Copywriter","type":"main","index":0}]]},"Parse Copywriter":{"main":[[{"node":"Send Start","type":"main","index":0}]]},"Send Start":{"main":[[{"node":"Split Slides","type":"main","index":0}]]},"Split Slides":{"main":[[{"node":"Prepare Prompt","type":"main","index":0}]]},"Prepare Prompt":{"main":[[{"node":"Gemini Image","type":"main","index":0}]]},"Gemini Image":{"main":[[{"node":"Extract Image","type":"main","index":0}]]},"Extract Image":{"main":[[{"node":"Has Image?","type":"main","index":0}]]},"Has Image?":{"main":[[{"node":"Cloudinary Upload","type":"main","index":0}],[{"node":"Send Error","type":"main","index":0}]]},"Cloudinary Upload":{"main":[[{"node":"Collect URLs","type":"main","index":0}]]},"Collect URLs":{"main":[[{"node":"Send Photo","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":null,"versionId":"bde22a50-d407-4097-b0e6-0ca68f42eafe","activeVersionId":null,"versionCounter":88,"triggerCount":1,"shared":[{"updatedAt":"2026-01-07T10:39:28.975Z","createdAt":"2026-01-07T10:39:28.975Z","role":"workflow:owner","workflowId":"O2l4ynXxNkoeP0Ri","projectId":"bOfWAw0iU5pD34eS","project":{"updatedAt":"2025-12-04T08:49:34.769Z","createdAt":"2025-12-04T08:42:24.596Z","id":"bOfWAw0iU5pD34eS","name":"Aleksandr Bekk <levbekk@bk.ru>","type":"personal","icon":null,"description":null,"projectRelations":[{"updatedAt":"2025-12-04T08:42:24.596Z","createdAt":"2025-12-04T08:42:24.596Z","userId":"a70724ee-c521-4381-8a0d-0a39127d7e6e","projectId":"bOfWAw0iU5pD34eS","user":{"updatedAt":"2026-01-09T05:04:30.000Z","createdAt":"2025-12-04T08:42:24.072Z","id":"a70724ee-c521-4381-8a0d-0a39127d7e6e","email":"levbekk@bk.ru","firstName":"Aleksandr","lastName":"Bekk","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-12-04T08:51:17.685Z","personalization_survey_n8n_version":"1.122.4","companySize":"<20","companyType":"digital-agency","role":"business-owner","reportedSource":"youtube"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"QGl56m6GH3bhzOgA","userActivatedAt":1764840259444,"npsSurvey":{"waitingForResponse":true,"ignoredCount":2,"lastShownAt":1765957546650}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-01-09","isPending":false}}]}}],"tags":[],"activeVersion":null}